Repository jd-ftf/wot-design-mini, pull requests merged in 2020-12, with the labels that each got.

#211 feat(tag): 修改tag10像素字体
  packages/resize/index.js
  packages/resize/index.jxml
  packages/tag/index.js
  packages/tag/index.json
  packages/tag/index.jxml
  packages/tag/index.scss
Labels: resize, tag

#212 fix: input、cell bug 修复
  example/pages/cell/index.jxml
  packages/cell/index.scss
  packages/common/abstracts/_variable.scss
  packages/input/index.jxml
  packages/input/index.scss
Labels: cell, common, example, input, pages

#214 update: 文档统一，打印统一，tag 还原为原来写法，避免闪烁
  docs/docs/colPicker.md
  docs/docs/collapse.md
  docs/docs/curtain.md
  docs/docs/customTheme.md
  docs/docs/dropMenu.md
  docs/docs/grid.md
  docs/docs/icon.md
  docs/docs/picker.md
  docs/docs/pickerView.md
  docs/docs/popover.md
  docs/docs/resize.md
  docs/docs/selectPicker.md
  docs/docs/sticky.md
  docs/docs/swipeAction.md
  docs/docs/tabs.md
  docs/docs/tooltip.md
  docs/routes.yml
  example/pages/icon/index.js
  example/pages/index/index.js
  example/pages/resize/index.js
  example/pages/resize/index.json
  example/pages/resize/index.jxml
  example/pages/resize/index.jxss
  example/pages/tag/index.jxml
  packages/col/index.js
  packages/colPicker/index.js
  packages/collapseItem/index.js
  packages/curtain/index.js
  packages/dropMenu/index.js
  packages/dropMenuItem/index.js
  packages/icon/index.scss
  packages/icon/wd-icons.ttf
  packages/loading/index.js
  packages/resize/index.js
  packages/resize/index.jxml
  packages/resize/readme.md
  packages/row/index.js
  packages/slider/index.js
  packages/sticky/index.jxml
  packages/stickyBox/index.jxml
  packages/tabs/index.js
  packages/tag/index.js
  packages/tag/index.json
  packages/tag/index.jxml
  packages/tag/index.scss
  packages/toast/toast.js
Labels: col, colPicker, collapse, collapseItem, curtain, customTheme, docs, dropMenu, dropMenuItem, example, grid, icon, loading, pages, picker, pickerView, popover, resize, row, selectPicker, slider, sticky, stickyBox, swipeAction, tabs, tag, toast, tooltip

#215 fix(upload): upload 参数和文档更新
  docs/docs/upload.md
  example/pages/upload/index.js
  packages/upload/index.js
  packages/upload/index.jxml
  packages/upload/props.js
Labels: docs, example, pages, upload

#217 feat(sortButton): 添加 line 属性，允许设置下划线
  docs/docs/sortButton.md
  example/pages/sortButton/index.js
  example/pages/sortButton/index.jxml
  packages/sortButton/index.js
  packages/sortButton/index.jxml
  packages/sortButton/index.scss
Labels: docs, example, pages, sortButton

#218 Sync vue
  docs/docs/colPicker.md
  docs/docs/datetimePicker.md
  docs/docs/dropMenu.md
  docs/docs/picker.md
  docs/docs/selectPicker.md
  example/pages/dropMenu/index.js
  packages/actionSheet/index.jxml
  packages/actionSheet/index.scss
  packages/col/index.js
  packages/colPicker/index.js
  packages/colPicker/index.jxml
  packages/collapse/index.scss
  packages/collapseItem/index.js
  packages/datetimePicker/index.jxml
  packages/dropMenu/index.js
  packages/dropMenuItem/index.js
  packages/dropMenuItem/index.jxml
  packages/loading/index.js
  packages/picker/index.jxml
  packages/picker/props.js
  packages/rate/index.js
  packages/row/index.js
  packages/selectPicker/index.jxml
  packages/selectPicker/selectProps.js
  packages/slider/index.js
  packages/tabs/index.js
  packages/toast/toast.js
Labels: actionSheet, col, colPicker, collapse, collapseItem, datetimePicker, docs, dropMenu, dropMenuItem, example, loading, pages, picker, rate, row, selectPicker, slider, tabs, toast

#220 Update
  docs/docs/colPicker.md
  docs/docs/datetimePicker.md
  docs/docs/datetimePickerView.md
  docs/docs/picker.md
  docs/docs/pickerView.md
  docs/docs/selectPicker.md
  docs/docs/statusTip.md
  docs/docs/toast.md
  example/pages/colPicker/index.js
  example/pages/colPicker/index.jxml
  example/pages/tabs/index.jxml
  packages/actionSheet/index.jxml
  packages/colPicker/index.js
  packages/loading/index.jxml
  packages/search/index.scss
  packages/statusTip/img/default-collect.png
  packages/statusTip/img/default-comment.png
  packages/statusTip/img/default-content.png
  packages/statusTip/img/default-halo.png
  packages/statusTip/img/default-message.png
  packages/statusTip/img/default-network.png
  packages/statusTip/img/default-search.png
  packages/tab/index.js
  packages/tabs/index.js
  packages/tabs/index.jxml
  packages/toast/toast.js
  packages/upload/index.js
Labels: actionSheet, colPicker, datetimePicker, datetimePickerView, docs, example, loading, pages, picker, pickerView, search, selectPicker, statusTip, tab, tabs, toast, upload

#222 release: 2.2.0
  docs/docs/changelog.md
  package.json
Labels: changelog, docs, package

#225 fix(messageBox): 修复closeOnClickModal 无效问题，修复 messageBox 使用 type 无区分问题
  docs/docs/changelog.md
  packages/messageBox/index.js
  packages/messageBox/index.jxml
  packages/messageBox/messageBox.js
Labels: changelog, docs, messageBox
