Repository jd-ftf/wot-design-mini, pull requests merged in 2020-07, with the labels that each got.

#117 feat(grid): 升级
  docs/docs/grid.md
  example/pages/grid/index.js
  example/pages/grid/index.jxml
  example/pages/grid/index.jxss
  example/pages/icon/index.js
  packages/common/abstracts/_function.scss
  packages/common/abstracts/_variable.scss
  packages/grid/index.js
  packages/gridItem/index.js
  packages/gridItem/index.jxml
  packages/gridItem/index.scss
  packages/icon/index.scss
  packages/icon/wd-icons.ttf
Labels: common, docs, example, grid, gridItem, icon, pages

#119 新增 sticky 组件
  docs/docs/sticky.md
  docs/pages.config.json
  example/app.json
  example/pages/index/index.js
  example/pages/sticky/index.js
  example/pages/sticky/index.json
  example/pages/sticky/index.jxml
  example/pages/sticky/index.jxss
  lint-staged.config.js
  package-lock.json
  package.json
  packages/button/index.scss
  packages/common/abstracts/_variable.scss
  packages/common/util.js
  packages/resize/index.js
  packages/resize/index.json
  packages/resize/index.jxml
  packages/resize/index.scss
  packages/resize/readme.md
  packages/sticky/index.js
  packages/sticky/index.json
  packages/sticky/index.jxml
  packages/sticky/index.scss
  packages/stickyBox/index.js
  packages/stickyBox/index.json
  packages/stickyBox/index.jxml
  packages/stickyBox/index.scss
  packages/tabs/index.js
  packages/tabs/index.json
  packages/tabs/index.jxml
  packages/tabs/index.scss
Labels: button, common, docs, example, package, pages, resize, sticky, stickyBox, tabs

#120 feat: tabs 品牌升级
  docs/docs/tabs.md
  packages/common/abstracts/_mixin.scss
  packages/common/abstracts/_variable.scss
  packages/mixins/basic.js
  packages/tabs/index.js
  packages/tabs/index.jxml
  packages/tabs/index.scss
Labels: common, docs, mixins, tabs

#121 docs: 修改路由配置
  build/file-writer.js
  build/sitemap.js
  build/webpack.docs.conf.js
  docs/docs/actionSheet.md
  docs/layout/header.vue
  docs/layout/sidebar.vue
  docs/pages.config.json
  docs/route.js
  docs/routes.yml
  docs/utils/index.js
  docs/utils/pageCache.js
  example/pages/actionSheet/index.json
  package-lock.json
  package.json
Labels: actionSheet, build, docs, example, package, pages

#123 feat(badge): badge升级
  docs/docs/badge.md
  packages/badge/index.js
  packages/badge/index.jxml
  packages/badge/index.scss
  packages/common/abstracts/_variable.scss
Labels: badge, common, docs

#125 feat(statusTip): statusTip 和 switch升级
  docs/docs/statusTip.md
  example/pages/index/index.js
  example/pages/statusTip/index.jxml
  example/pages/switch/index.js
  example/pages/switch/index.jxml
  packages/common/abstracts/_variable.scss
  packages/statusTip/img/default-collect.png
  packages/statusTip/img/default-collect.svg
  packages/statusTip/img/default-comment.png
  packages/statusTip/img/default-comment.svg
  packages/statusTip/img/default-content.png
  packages/statusTip/img/default-content.svg
  packages/statusTip/img/default-halo.png
  packages/statusTip/img/default-halo.svg
  packages/statusTip/img/default-message.png
  packages/statusTip/img/default-message.svg
  packages/statusTip/img/default-network.png
  packages/statusTip/img/default-network.svg
  packages/statusTip/img/default-search.png
  packages/statusTip/img/default-search.svg
  packages/statusTip/index.jxml
  packages/statusTip/index.scss
  packages/switch/index.scss
Labels: common, docs, example, pages, statusTip, switch
