Repository jd-ftf/wot-design-mini, pull requests merged in 2020-03, with the labels that each got.

#77 Hxc
  docs/docs/layout.md
  docs/pages.config.json
  example/app.json
  example/pages/index/index.js
  example/pages/layout/index.js
  example/pages/layout/index.json
  example/pages/layout/index.jxml
  example/pages/layout/index.jxss
  packages/col/index.js
  packages/col/index.json
  packages/col/index.jxml
  packages/col/index.scss
  packages/row/index.js
  packages/row/index.json
  packages/row/index.jxml
  packages/row/index.scss
Labels: col, common, docs, example, grid, gridItem, layout, pages, row, tooltip

#81 feat: 添加img图片组件
  docs/docs/img.md
  docs/pages.config.json
  example/app.json
  example/pages/images/joy.js
  example/pages/img/index.js
  example/pages/img/index.json
  example/pages/img/index.jxml
  example/pages/img/index.jxss
  example/pages/index/index.js
  packages/img/index.js
  packages/img/index.json
  packages/img/index.jxml
  packages/img/index.scss
Labels: docs, example, img, pages

#85 Hxc
  docs/pages.config.json
  example/pages/index/index.js
  packages/dropMenuItem/index.js
  packages/picker/index.js
  packages/picker/index.jxml
Labels: docs, dropMenuItem, example, img, pages, picker

#89 release: 1.4.0版本
  docs/docs/changelog.md
  package.json
Labels: changelog, docs, package

#94 fix(slider): slider文档方法名修改
  docs/docs/slider.md
Labels: docs, slider

#95 docs: change document's domain
  .github/CONTRIBUTING.md
  README.md
  docs/docs/changelog.md
  docs/layout/sideTabs.vue
  docs/pages.config.json
Labels: changelog, docs

#96 fix(input): 动态切换type类型
  docs/docs/changelog.md
  packages/input/index.jxml
Labels: changelog, docs, input
