Repository jd-ftf/wot-design-mini, pull requests merged in 2020-09, with the labels that each got.

#165 fix(picker): 修复columns和value延迟传入时的数据展示和选中问题
  packages/picker/index.js
  packages/pickerView/index.js
Labels: picker, pickerView

#171 Bug fix
  packages/button/index.js
  packages/button/index.scss
  packages/colPicker/index.scss
  packages/common/abstracts/_mixin.scss
  packages/common/abstracts/_variable.scss
  packages/messageBox/index.jxml
  packages/picker/index.scss
  packages/popup/index.scss
  packages/statusTip/img/default-collect.png
  packages/statusTip/img/default-comment.png
  packages/statusTip/img/default-content.png
  packages/statusTip/img/default-halo.png
  packages/statusTip/img/default-message.png
  packages/statusTip/img/default-network.png
  packages/statusTip/img/default-search.png
Labels: button, colPicker, common, messageBox, picker, popup, statusTip

#170 Hxc
  docs/docs/changelog.md
  docs/docs/datetimePicker.md
  docs/docs/datetimePickerView.md
  docs/docs/messageBox.md
  example/pages/datetimePicker/index.js
  example/pages/datetimePicker/index.jxml
  example/pages/datetimePickerView/index.js
  example/pages/datetimePickerView/index.jxml
  example/pages/grid/index.jxml
  example/pages/grid/index.jxss
  example/pages/messageBox/index.js
  package.json
  packages/common/abstracts/_variable.scss
  packages/common/util.js
  packages/datetimePicker/index.js
  packages/datetimePicker/index.json
  packages/datetimePicker/index.jxml
  packages/datetimePicker/index.scss
  packages/datetimePickerView/index.js
  packages/datetimePickerView/index.jxml
  packages/grid/index.js
  packages/gridItem/index.js
  packages/gridItem/index.jxml
  packages/gridItem/index.scss
  packages/messageBox/index.jxml
  packages/messageBox/index.scss
  packages/messageBox/messageBox.js
  packages/mixins/datetimePickerView.js
  packages/picker/index.scss
  packages/pickerView/index.js
  packages/pickerView/index.jxml
  packages/pickerView/index.scss
  packages/pickerView/props.js
  packages/radioGroup/index.scss
  packages/toast/index.jxml
  packages/toast/index.scss
Labels: changelog, common, datetimePicker, datetimePickerView, docs, example, grid, gridItem, messageBox, mixins, pages, picker, pickerView, radioGroup, toast

#173 feat(divider): 新增divider分割线组件
  docs/docs/divider.md
  docs/routes.yml
  example/pages/divider/index.js
  example/pages/divider/index.json
  example/pages/divider/index.jxml
  example/pages/divider/index.jxss
  example/pages/index/index.js
  packages/common/abstracts/_variable.scss
  packages/divider/index.js
  packages/divider/index.json
  packages/divider/index.jxml
  packages/divider/index.scss
Labels: common, divider, docs, example, pages

#174 feat(loadmore): 加载更多品牌升级
  example/app.json
  packages/common/abstracts/_variable.scss
  packages/loadmore/index.js
  packages/loadmore/index.json
  packages/loadmore/index.jxml
  packages/loadmore/index.scss
Labels: common, loadmore

#178 feat(input): blur 事件添加 cursor 参数，rgba 修改为 rgb
  docs/docs/input.md
  example/pages/input/index.js
  example/pages/input/index.jxml
  packages/common/abstracts/_variable.scss
  packages/input/index.js
Labels: common, docs, example, input, pages

#179 Bug fix
  docs/docs/changelog.md
  docs/docs/colPicker.md
  example/pages/icon/index.js
  example/pages/search/index.jxss
  packages/cell/index.scss
  packages/common/abstracts/_variable.scss
  packages/icon/index.scss
  packages/icon/wd-icons.ttf
  packages/noticeBar/index.jxml
  packages/noticeBar/index.scss
  packages/search/index.jxml
  packages/search/index.scss
  packages/sortButton/index.scss
Labels: cell, changelog, colPicker, common, docs, example, icon, noticeBar, pages, search, sortButton

#183 Bug fix
  packages/sortButton/index.scss
  packages/tabs/index.scss
Labels: sortButton, tabs

#185 fix(img): 修复图片宽高动态传导致样式没有更新的问题
  packages/img/index.js
Labels: img

#182 feat: 新增upload上传组件
  docs/docs/changelog.md
  docs/docs/upload.md
  docs/routes.yml
  example/app.json
  example/pages/index/index.js
  example/pages/upload/index.js
  example/pages/upload/index.json
  example/pages/upload/index.jxml
  example/pages/upload/index.jxss
  packages/common/abstracts/_variable.scss
  packages/search/index.jxml
  packages/search/index.scss
  packages/upload/index.js
  packages/upload/index.json
  packages/upload/index.jxml
  packages/upload/index.scss
  packages/upload/props.js
  packages/upload/utils.js
Labels: changelog, common, docs, example, pages, upload

#186 docs: changelog 修改
  docs/docs/changelog.md
Labels: changelog, docs

#187 feat: 新增幕帘展示组件
  docs/docs/curtain.md
  docs/routes.yml
  example/app.json
  example/pages/curtain/index.js
  example/pages/curtain/index.json
  example/pages/curtain/index.jxml
  example/pages/curtain/index.jxss
  example/pages/index/index.js
  example/project.config.json
  package-lock.json
  packages/common/abstracts/_variable.scss
  packages/curtain/index.js
  packages/curtain/index.json
  packages/curtain/index.jxml
  packages/curtain/index.scss
Labels: common, curtain, docs, example, pages

#189 Dropmenu
  build/iconInit.js
  docs/docs/colPicker.md
  docs/docs/dropMenu.md
  docs/docs/popup.md
  example/pages/colPicker/index.js
  example/pages/dropMenu/index.js
  example/pages/dropMenu/index.jxml
  example/pages/dropMenu/index.jxss
  example/pages/sortButton/index.js
  example/pages/sortButton/index.json
  example/pages/sortButton/index.jxml
  packages/button/index.scss
  packages/colPicker/index.js
  packages/common/abstracts/_variable.scss
  packages/datetimePicker/index.js
  packages/dropMenu/index.js
  packages/dropMenu/index.jxml
  packages/dropMenu/index.scss
  packages/dropMenuItem/index.js
  packages/dropMenuItem/index.json
  packages/dropMenuItem/index.jxml
  packages/dropMenuItem/index.scss
  packages/mixins/transition.js
  packages/modal/index.js
  packages/modal/index.jxml
  packages/popup/index.js
  packages/popup/index.jxml
  packages/sortButton/index.js
  packages/sortButton/index.jxml
  packages/sortButton/index.scss
Labels: build, button, colPicker, common, datetimePicker, docs, dropMenu, dropMenuItem, example, mixins, modal, pages, popup, sortButton

#195 docs: 文档描述修改，sortButton 样式修改
  docs/assets/img/jd.jpg
  docs/assets/img/wx.jpg
  docs/docs/introduction.md
  docs/docs/sortButton.md
  example/pages/icon/index.js
  example/pages/sortButton/index.jxml
  packages/sortButton/index.scss
Labels: docs, example, introduction, pages, sortButton

#196 Hxc
  docs/docs/changelog.md
  docs/docs/layout.md
  docs/docs/popover.md
  docs/docs/quickUse.md
  docs/layout/sideTabs.vue
  example/pages/layout/index.jxml
  example/pages/layout/index.jxss
  example/pages/popover/index.jxml
  example/pages/popover/index.jxss
  packages/col/index.js
Labels: changelog, col, docs, example, layout, pages, popover, quickUse

#197 Hxc
  docs/docs/changelog.md
  example/pages/radio/index.js
  example/pages/radio/index.jxml
  example/pages/radio/index.jxss
  package.json
  packages/input/index.js
  packages/input/index.jxml
  packages/input/index.scss
Labels: changelog, docs, example, input, package, pages
