Repository jd-ftf/wot-design-mini, pull requests merged in 2020-01, with the labels that each got.

#39 release: v1.2.0
  build/deploy/after-deploy.sh
  docs/docs/changelog.md
  package.json
Labels: build, changelog, deploy, docs

#40 ready to release
  .travis.yml
  build/deploy/after-deploy.sh
  build/webpack.docs.conf.js
  docs/assets/img/github.png
  docs/assets/img/jd.jpg
  docs/assets/img/wot-design.png
  docs/docs/actionSheet.md
  docs/docs/changelog.md
  docs/docs/commonProblems.md
  docs/docs/input.md
  docs/docs/slider.md
  docs/docs/tag.md
  docs/docs/tooltip.md
  docs/layout/header.vue
  docs/layout/search.vue
  docs/layout/sidebar.vue
  docs/versions.json
  example/app.json
  example/pages/index/index.js
  example/pages/index/index.jxss
  example/pages/tag/index.jxml
  example/pages/tooltip/index.js
  example/pages/tooltip/index.json
  example/pages/tooltip/index.jxml
  example/pages/tooltip/index.jxss
  package-lock.json
  package.json
  packages/common/abstracts/_variable.scss
  packages/datetimePicker/index.js
  packages/mixins/datetimePickerView.js
  packages/tag/index.js
  packages/tag/index.jxml
  packages/tag/index.scss
  packages/tooltip/index.js
  packages/tooltip/index.json
  packages/tooltip/index.jxml
  packages/tooltip/index.scss
Labels: actionSheet, build, changelog, common, commonProblems, datetimePicker, deploy, docs, example, input, mixins, packages, pages, slider, tag, tooltip

#42 docs: 修改介绍文档
  docs/docs/introduction.md
  example/pages/index/index.jxml
Labels: docs, example, introduction, pages

#46 Docs update
  build/md-loader.js
  build/webpack.docs.conf.js
  docs/assets/style/base.scss
  docs/components/scrollTop.vue
  docs/docs/commonProblems.md
  docs/index.html
  docs/layout/header.vue
  docs/layout/main.vue
  docs/layout/search.vue
  docs/layout/sideTabs.vue
  docs/layout/sidebar.vue
  docs/pages/changelog.vue
  docs/route.js
  package-lock.json
  package.json
Labels: build, commonProblems, docs
