Repository jd-ftf/wot-design-mini, pull requests merged in 2020-08, with the labels that each got.

#127 feat(actionSheet): actionSheet升级
  docs/docs/actionSheet.md
  example/pages/actionSheet/index.js
  example/pages/actionSheet/index.json
  example/pages/actionSheet/index.jxml
  packages/actionSheet/index.js
  packages/actionSheet/index.jxml
  packages/actionSheet/index.scss
  packages/common/abstracts/_variable.scss
Labels: actionSheet, common, docs, example, pages

#128 feat: button 品牌升级
  docs/docs/button.md
  example/pages/button/index.jxml
  package-lock.json
  packages/button/index.js
  packages/button/index.json
  packages/button/index.jxml
  packages/button/index.scss
  packages/common/abstracts/_variable.scss
Labels: button, common, docs, example, pages

#132 fix(input): 清空字符后自动拉起键盘
  docs/docs/input.md
  packages/input/index.js
  packages/input/index.jxml
Labels: docs, input

#133 icon: 同步 h5 组件库字体库
  example/pages/icon/index.js
  example/pages/icon/index.jxml
  packages/icon/index.scss
  packages/icon/wd-icons.ttf
Labels: example, icon, pages

#135 checkbox: 品牌升级
  docs/docs/checkbox.md
  example/pages/checkbox/index.jxml
  packages/checkbox/index.js
  packages/checkbox/index.jxml
  packages/checkbox/index.scss
  packages/checkboxGroup/index.js
  packages/checkboxGroup/index.jxml
  packages/checkboxGroup/index.scss
  packages/common/abstracts/_variable.scss
Labels: checkbox, checkboxGroup, common, docs, example, pages

#134 feat(noticeBar): noticeBar升级
  docs/docs/noticeBar.md
  example/pages/noticeBar/index.json
  example/pages/noticeBar/index.jxml
  example/pages/noticeBar/index.jxss
  packages/common/abstracts/_variable.scss
  packages/noticeBar/index.js
  packages/noticeBar/index.jxml
  packages/noticeBar/index.scss
Labels: common, docs, example, noticeBar, pages

#139 feat(progress): progress升级
  docs/docs/progress.md
  example/pages/progress/index.jxml
  packages/common/abstracts/_variable.scss
  packages/progress/index.js
  packages/progress/index.json
  packages/progress/index.jxml
  packages/progress/index.scss
Labels: common, docs, example, pages, progress

#142 feat(radio): radio升级
  docs/docs/radio.md
  example/pages/radio/index.js
  example/pages/radio/index.jxml
  example/pages/radio/index.jxss
  packages/common/abstracts/_variable.scss
  packages/radio/index.js
  packages/radio/index.jxml
  packages/radio/index.scss
  packages/radioGroup/index.js
  packages/radioGroup/index.jxml
  packages/radioGroup/index.scss
Labels: common, docs, example, pages, radio, radioGroup

#143 feat(cell): cell 品牌升级
  docs/docs/cell.md
  example/app.jxss
  example/pages/cell/index.js
  example/pages/cell/index.json
  example/pages/cell/index.jxml
  example/pages/cell/index.jxss
  packages/cell/index.js
  packages/cell/index.jxml
  packages/cell/index.scss
  packages/cellGroup/index.js
  packages/cellGroup/index.jxml
  packages/cellGroup/index.scss
  packages/common/abstracts/_variable.scss
  packages/mixins/cell.js
  packages/rate/index.js
  packages/slider/index.js
Labels: cell, cellGroup, common, docs, example, mixins, pages, rate, slider

#146 feat(picker): picker组件升级
  docs/docs/datetimePicker.md
  docs/docs/datetimePickerView.md
  docs/docs/picker.md
  docs/docs/pickerView.md
  example/pages/picker/index.jxml
  packages/common/abstracts/_variable.scss
  packages/datetimePicker/index.jxml
  packages/datetimePickerView/index.jxml
  packages/picker/index.jxml
  packages/picker/index.scss
  packages/picker/props.js
  packages/pickerView/index.js
  packages/pickerView/index.jxml
  packages/pickerView/index.scss
  packages/pickerView/props.js
Labels: common, datetimePicker, datetimePickerView, docs, example, pages, picker, pickerView

#147 feat(rate): rate升级
  docs/docs/icon.md
  docs/docs/rate.md
  example/pages/icon/index.js
  example/pages/rate/index.jxml
  packages/icon/index.js
  packages/icon/index.jxml
  packages/icon/index.scss
  packages/icon/wd-icons.ttf
  packages/rate/index.js
  packages/rate/index.jxml
Labels: docs, example, icon, pages, rate

#148 feat(colPicker): 新增多列选择器组件
  docs/docs/colPicker.md
  docs/docs/commonProblems.md
  docs/layout/pageController.vue
  docs/routes.yml
  example/app.json
  example/pages/colPicker/index.js
  example/pages/colPicker/index.json
  example/pages/colPicker/index.jxml
  example/pages/colPicker/index.jxss
  example/pages/index/index.js
  example/utils/area.js
  packages/cell/index.js
  packages/cell/index.jxml
  packages/colPicker/index.js
  packages/colPicker/index.json
  packages/colPicker/index.jxml
  packages/colPicker/index.scss
  packages/common/abstracts/_variable.scss
  packages/input/index.js
  packages/input/index.jxml
  packages/input/index.scss
  packages/mixins/cell.js
Labels: cell, colPicker, common, commonProblems, docs, example, input, mixins, pages, utils

#150 feat(form): form 组件优化完善，还原度
  docs/docs/changelog.md
  docs/docs/checkbox.md
  docs/docs/colPicker.md
  docs/docs/messageBox.md
  docs/docs/picker.md
  docs/docs/popover.md
  docs/docs/radio.md
  docs/docs/search.md
  docs/docs/toast.md
  example/pages/checkbox/index.jxml
  example/pages/checkbox/index.jxss
  example/pages/datetimePicker/index.jxml
  example/pages/icon/index.js
  example/pages/picker/index.js
  example/pages/picker/index.jxml
  example/pages/popover/index.js
  example/pages/popover/index.jxml
  example/pages/radio/index.jxml
  example/pages/search/index.js
  example/pages/search/index.json
  example/pages/search/index.jxml
  example/pages/search/index.jxss
  example/pages/swipeAction/index.jxml
  example/pages/swipeAction/index.jxss
  packages/cell/index.scss
  packages/checkbox/index.js
  packages/checkbox/index.jxml
  packages/checkbox/index.scss
  packages/checkboxGroup/index.js
  packages/colPicker/index.js
  packages/colPicker/index.jxml
  packages/colPicker/index.scss
  packages/common/abstracts/_variable.scss
  packages/datetimePicker/index.jxml
  packages/picker/index.js
  packages/picker/index.jxml
  packages/picker/index.scss
  packages/popover/index.js
  packages/popover/index.jxml
  packages/popover/index.scss
  packages/radio/index.jxml
  packages/radio/index.scss
  packages/radioGroup/index.js
  packages/search/index.jxml
  packages/search/index.scss
  packages/toast/index.js
  packages/toast/index.jxml
Labels: cell, checkbox, checkboxGroup, colPicker, common, datetimePicker, docs, example, messageBox, pages, picker, popover, radio, radioGroup, search, toast

#151 docs: 更新更新日志
  docs/docs/changelog.md
Labels: changelog, docs

#153 feat(actionSheet): actionSheet样式问题
  example/pages/actionSheet/index.js
  example/pages/actionSheet/index.jxml
  packages/actionSheet/index.jxml
  packages/actionSheet/index.scss
  packages/common/abstracts/_variable.scss
Labels: actionSheet, common, example, pages

#154 feat(pagination): 新增分页组件
  docs/docs/pagination.md
  docs/routes.yml
  example/app.json
  example/pages/index/index.js
  example/pages/pagination/index.js
  example/pages/pagination/index.json
  example/pages/pagination/index.jxml
  example/pages/pagination/index.jxss
  package-lock.json
  packages/common/abstracts/_variable.scss
  packages/pagination/index.js
  packages/pagination/index.json
  packages/pagination/index.jxml
  packages/pagination/index.scss
Labels: common, docs, example, pages, pagination

#156 fix: button
  docs/docs/actionSheet.md
  docs/docs/badge.md
  docs/docs/button.md
  docs/docs/card.md
  docs/docs/cell.md
  docs/docs/colPicker.md
  docs/docs/datetimePicker.md
  docs/docs/dropMenu.md
  docs/docs/form.md
  docs/docs/messageBox.md
  docs/docs/picker.md
  docs/docs/sticky.md
  docs/docs/swipeAction.md
  docs/docs/toast.md
  example/pages/actionSheet/index.jxml
  example/pages/badge/index.jxml
  example/pages/button/index.jxml
  example/pages/card/index.jxml
  example/pages/cell/index.jxml
  example/pages/colPicker/index.jxml
  example/pages/dropMenu/index.jxml
  example/pages/form/index.jxml
  example/pages/input/index.jxml
  example/pages/messageBox/index.jxml
  example/pages/picker/index.jxml
  example/pages/popover/index.jxml
  example/pages/popup/index.jxml
  example/pages/selectPicker/index.jxml
  example/pages/steps/index.jxml
  example/pages/sticky/index.jxml
  example/pages/swipeAction/index.jxml
  example/pages/toast/index.jxml
  example/pages/tooltip/index.jxml
  example/pages/transition/index.jxml
  packages/button/index.js
  packages/button/index.scss
  packages/common/abstracts/_variable.scss
  packages/messageBox/index.jxml
  packages/selectPicker/index.jxml
Labels: actionSheet, badge, button, card, cell, colPicker, common, datetimePicker, docs, dropMenu, example, form, messageBox, pages, picker, selectPicker, sticky, swipeAction, toast

#155 feat: 新增select picker组件
  docs/docs/actionSheet.md
  docs/docs/changelog.md
  docs/docs/loading.md
  docs/docs/selectPicker.md
  docs/routes.yml
  example/app.json
  example/pages/index/index.js
  example/pages/loading/index.jxml
  example/pages/selectPicker/index.js
  example/pages/selectPicker/index.json
  example/pages/selectPicker/index.jxss
  packages/actionSheet/index.js
  packages/actionSheet/index.jxml
  packages/checkbox/index.scss
  packages/checkboxGroup/index.js
  packages/common/util.js
  packages/loading/index.js
  packages/loading/index.jxml
  packages/popup/index.js
  packages/popup/index.jxml
  packages/selectPicker/cellProps.js
  packages/selectPicker/index.js
  packages/selectPicker/index.json
  packages/selectPicker/index.jxml
  packages/selectPicker/index.scss
  packages/selectPicker/selectProps.js
Labels: actionSheet, checkbox, checkboxGroup, common, docs, example, loading, pages, selectPicker

#157 feat: collapse 升级
  example/pages/collapse/index.js
  example/pages/collapse/index.jxml
  packages/collapse/index.jxml
  packages/collapse/index.scss
  packages/collapseItem/index.scss
  packages/common/abstracts/_variable.scss
Labels: collapse, collapseItem, common, example, pages

#158 feat: sort-button 修改 icon 图标 默认颜色修改
  docs/docs/sortButton.md
  example/pages/sortButton/index.jxml
  packages/sortButton/index.js
  packages/sortButton/index.jxml
Labels: docs, example, pages, sortButton
