Repository jd-ftf/wot-design-mini, pull requests merged in 2020-02, with the labels that each got.

#51 Checkbox
  docs/docs/checkbox.md
  docs/docs/radio.md
  example/pages/checkbox/index.js
  example/pages/checkbox/index.jxml
  example/pages/radio/index.jxml
  packages/checkbox/index.js
  packages/checkbox/index.jxml
  packages/checkbox/index.scss
  packages/checkboxGroup/index.js
  packages/radio/index.js
Labels: checkbox, checkboxGroup, docs, example, packages, pages, radio

#54 chore: 修复demo中form页面的radio同行展示用法；优化swipeAction页面的操作间距
  docs/docs/form.md
  docs/docs/swipeAction.md
  example/pages/form/index.jxml
  example/pages/swipeAction/index.jxml
  example/pages/swipeAction/index.jxss
Labels: docs, example, form, pages, swipeAction

#56 docs: 修改标题，优化版本切换列表
  build/webpack.docs.conf.js
  docs/layout/header.vue
  docs/public/versions.json
  package-lock.json
  package.json
Labels: build, package

#58 fix(tabs): 修复map类型的样式展示
  docs/docs/tabs.md
  example/pages/tabs/index.jxml
  packages/tabs/index.jxml
  packages/tabs/index.scss
Labels: docs, example, pages, tabs

#59 release: v1.3.0
  .gitignore
  build/webpack.docs.conf.js
  docs/docs/changelog.md
  docs/public/versions.json
  package.json
Labels: build, changelog, docs, package

#65 fix(sortButton): 替换为h5的样式
  packages/sortButton/index.scss
Labels: sortButton

#68 fix: 修正标签属性键值对，修复SEO keywords，添加使用反馈
  docs/docs/button.md
  docs/docs/checkbox.md
  docs/docs/commonProblems.md
  docs/docs/dropMenu.md
  docs/docs/input.md
  docs/docs/inputNumber.md
  docs/docs/picker.md
  docs/docs/pickerView.md
  docs/docs/radio.md
  docs/docs/rate.md
  docs/docs/search.md
  docs/docs/tabs.md
  docs/docs/tooltip.md
  docs/index.html
  docs/layout/header.vue
  docs/layout/survey.vue
  example/pages/button/index.jxml
  example/pages/checkbox/index.jxml
  example/pages/collapse/index.jxml
  example/pages/dropMenu/index.jxml
  example/pages/input/index.jxml
  example/pages/inputNumber/index.jxml
  example/pages/picker/index.jxml
  example/pages/pickerView/index.jxml
  example/pages/radio/index.jxml
  example/pages/rate/index.jxml
  example/pages/slider/index.jxml
  example/pages/switch/index.jxml
  example/pages/tabs/index.jxml
  example/pages/tooltip/index.jxml
  lib-wx/tabs/index.wxml
  lib/tabs/index.jxml
  packages/tabs/index.jxml
Labels: button, checkbox, commonProblems, docs, dropMenu, example, input, inputNumber, pages, picker, pickerView, radio, rate, search, tabs, tooltip

#69 slider: 修正样式和偏移比例计算问题
  packages/slider/index.js
  packages/slider/index.jxml
  packages/slider/index.scss
Labels: slider

#70 demo(inputNumber): 修正demo
  example/pages/inputNumber/index.js
Labels: example, pages
