Repository jd-ftf/wot-design-mini, pull requests merged in 2020-05, with the labels that each got.

#106 docs: 优化响应式，添加京麦扫码
  docs/assets/img/jm.jpg
  docs/docs/introduction.md
  docs/layout/main.vue
  docs/layout/scrollTop.vue
  docs/layout/sideTabs.vue
  docs/sitemap.xml
Labels: docs, introduction

#111 release: 1.5.0
  .gitignore
  docs/docs/changelog.md
  docs/sitemap.xml
  package.json
Labels: changelog, docs, package

#112 fix: ftf.jd.com 修改https访问
  .github/CONTRIBUTING.md
  README.md
  build/file-writer.js
  docs/layout/sideTabs.vue
Labels: build

#113 config: 互转插件更新
  build/gulpfile.js
  package-lock.json
  package.json
Labels: build, package
