Repository jd-ftf/wot-design-mini, pull requests merged in 2020-04, with the labels that each got.

#98 docs: 完善grid文档
  docs/docs/grid.md
Labels: docs, grid

#101 feat(checkbox): 支持复选框组下某个复选框触发change事件
  docs/docs/checkbox.md
  packages/checkbox/index.js
Labels: checkbox, docs

#102 config: sitema.xml 添加爬虫文件
  build/file-writer.js
  build/sitemap.js
  build/webpack.docs.conf.js
  docs/route.js
  docs/sitemap.xml
  sitemap.xml
Labels: build

#104 config: 组件库配置更新
  build/gulpfile.js
  build/iconInit.js
  build/plugins/gulp-js-replace.js
  build/plugins/gulp-replace.js
  package-lock.json
  package.json
  sitemap.xml
Labels: build, package
