Repository jd-ftf/wot-design-mini, pull requests merged in 2021-04, with the labels that each got.

#257 feat: 添加图片裁剪组件
  docs/docs/changelog.md
  docs/docs/imgCropper.md
  docs/routes.yml
  example/app.json
  example/pages/icon/index.js
  example/pages/imgCropper/index.js
  example/pages/imgCropper/index.json
  example/pages/imgCropper/index.jxml
  example/pages/imgCropper/index.jxss
  example/pages/index/index.js
  package-lock.json
  package.json
  packages/icon/index.scss
  packages/icon/wd-icons.svg
  packages/icon/wd-icons.ttf
  packages/img-cropper/index.js
  packages/img-cropper/index.json
  packages/img-cropper/index.jxml
  packages/img-cropper/index.scss
Labels: docs, example, icon, imgCropper, pages

#258 fix(checkbox): 修复设置 cell 属性下新增选项时新增的选项缺少表单样式的问题
  docs/docs/changelog.md
  packages/checkbox/index.js
  packages/checkboxGroup/index.js
Labels: changelog, checkbox, checkboxGroup, docs

#259 fix: 默认关闭popup的底部安全区适配，actionSheet 调整底部安全区适配样式
  docs/docs/popup.md
  packages/actionSheet/index.jxml
  packages/actionSheet/index.scss
  packages/popup/index.js
Labels: actionSheet, docs, popup

#260 fix(tabs): 修复sticky布局下的 nav 条宽度无法撑开的问题
  packages/common/abstracts/_variable.scss
  packages/tabs/index.jxml
  packages/tabs/index.scss
Labels: common, tabs

#261 fix(statusTip): 修复链接地址，加上协议头，避免iOS加载失败
  packages/statusTip/index.js
Labels: statusTip

#263 fix(checkbox): 修复 button 形状下的 cell 类型样式
  packages/checkbox/index.js
  packages/checkbox/index.scss
  packages/radio/index.scss
Labels: checkbox, radio

#262 Calendar
  docs/docs/calendar.md
  packages/calendar/index.js
  packages/calendarView/components/month/index.js
  packages/calendarView/components/year/index.js
Labels: calendar, calendarView, docs

#265 feat(inputNumber): 新增 allow-null 和 placeholder
  docs/docs/changelog.md
  docs/docs/imgCropper.md
  docs/docs/inputNumber.md
  example/pages/imgCropper/index.json
  example/pages/inputNumber/index.js
  example/pages/inputNumber/index.jxml
  packages/imgCropper/index.js
  packages/imgCropper/index.json
  packages/imgCropper/index.jxml
  packages/imgCropper/index.scss
  packages/inputNumber/index.js
  packages/inputNumber/index.jxml
Labels: changelog, docs, example, imgCropper, inputNumber, pages

#266 feat: 修改card行高，优化文档
  docs/docs/changelog.md
  docs/layout/scrollTop.vue
  docs/layout/sideTabs.vue
  example/pages/index/index.jxml
  example/pages/index/index.jxss
  packages/common/abstracts/_variable.scss
Labels: changelog, common, docs, example, pages

#268 feat: 添加 icon，修复 loading 的 demo
  docs/docs/calendar.md
  docs/docs/toast.md
  example/pages/icon/index.js
  example/pages/toast/index.js
  example/pages/toast/index.jxml
  packages/icon/index.scss
  packages/icon/wd-icons.svg
  packages/icon/wd-icons.ttf
Labels: calendar, docs, example, icon, pages, toast

#269 【Img Cropper】优化
  docs/docs/imgCropper.md
  docs/docs/upload.md
  example/pages/imgCropper/index.js
  example/pages/upload/index.js
  packages/imgCropper/index.js
Labels: docs, example, imgCropper, pages, upload

#270 Fix cropper
  build/transform.js
  docs/docs/changelog.md
  docs/docs/imgCropper.md
  example/pages/imgCropper/index.js
  example/pages/imgCropper/index.jxml
  packages/calendarView/components/monthPanel/index.js
  packages/common/component.js
  packages/imgCropper/index.js
Labels: build, calendarView, changelog, common, docs, example, imgCropper, pages

#271 fix(img-cropper): 修复图片二次选择尺寸不对的问题
  docs/docs/imgCropper.md
  packages/imgCropper/index.js
  packages/imgCropper/index.jxml
Labels: docs, imgCropper

#272 fix(calendar-view): 修复 dates 类型下无法取消选中日期的问题
  docs/docs/changelog.md
  package.json
  packages/calendarView/components/month/index.js
Labels: calendarView, changelog, docs, package

#273 fix(dropMenu): 修复点击已展开的选项时，无法收起的问题
  docs/docs/changelog.md
  example/pages/datetimePicker/index.js
  example/pages/datetimePicker/index.jxml
  example/pages/dropMenu/index.jxml
  packages/dropMenu/index.js
Labels: changelog, docs, dropMenu, example, pages
